/* Resetando padrões de navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adicionando variaveis */
:root {
    /* Cores */
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1d4ed8;

    /* Base */
    --bg-color: #0f172a;
    --stroke-color: #1e293b;

    /* Textos */
    --text-color-primary: #f1f5f;
    --text-color-secondary: #cbd5e1;

    /* Tipografia */
    --heading1: 800 24px/135% "Archivo", serif;
    --heading2: 800 16px/140% "Archivo", serif;
    --heading3: 600 14px/140% "Archivo", serif;
    --span: 600 14px/145% "Archivo", serif;
    --paragraph: 14px/160% "Archivo", serif;
}

body {
    /* Adicionando font ao body */
    font: var(--paragraph);
    color: var(--text-color-secondary);
    background-color: var(--bg-color);
}

a {
    /* Retirando a decoração de link */
    text-decoration: none;
    /* Herdando cor */
    color: inherit;
}

/* Estilizando link ao passar o mouse em cima */
a:hover {
    color: var(--brand-color-light);
}

h1,
h2,
h3 {
    /* Herdando font do pai o qual estará dentro */
    font: inherit;
}

img {
    /* Estabelecendo tamanho limite para a imagem para ela se manter dentro da caixa que ela estiver */
    max-width: 100%;
}

.container {
    /* Ajustando largura maxima da caixa */
    max-width: 1280px;
    /* Adicionando espaçamento interno no eixo X */
    padding-inline: 32px;
    /* Adicionando espaçamento no eixo X com margem afim de centralizar os itens dentro da caixa */
    margin-inline: auto ;
}

main {
    /* Espaçamento em linha com margem */
    margin-block: 40px;
    /* Espaçamento entre elementos em linha*/
    row-gap: 80px;
    /* Espaçamento entre os elementos em colunas */
    column-gap: 32px;
    /* Ajustando colunas do grid */
    grid-template-columns: 2fr 1.5fr;
    /* Definindo areas pelo grid */
    grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.content__tag {
    /* Definindo o display para que seja um bloco em linha */
    display: inline-block;
    /* Definindo cor de fundo */
    background-color: var(--brand-color-dark);
    /* Adicionando espaçamento interno 4px em cima e baixo, 8px lateral */
    padding: 4px 8px;
    /* Arredondamento de bordas */
    border-radius: 4px;
    /* Adicionando font */
    font: var(--paragraph);
    /* Transformando em caixa alta */
    text-transform: uppercase;
    /* Adicionando espaçamento entre as letras */
    letter-spacing: 0.04em;
    /* Adicionando cor */
    color: var(--text-color-primary);
    /* Adicionando box-shadow primeiro valor se move no eixo X, segundo valor no eixo Y,  terceiro valor espalhamento, por ultimo escolha de cor */
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);

}

