/* Resetando padrões de navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adicionando variaveis */
:root {
    /* Cores */
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1d4ed8;

    /* Base */
    --bg-color: #0f172a;
    --stroke-color: #1e293b;

    /* Textos */
    --text-color-primary: #f1f5f;
    --text-color-secondary: #cbd5e1;

    /* Tipografia */
    --heading1: 800 24px/135% "Archivo", serif;
    --heading2: 800 16px/140% "Archivo", serif;
    --heading3: 800 14px/140% "Archivo", serif;
    --span: 600 14px/145% "Archivo", serif;
    --paragraph: 14px/160% "Archivo", serif;
}

body {
    /* Adicionando font ao body */
    font: var(--paragraph);
    color: var(--text-color-secondary);
    background-color: var(--bg-color);
}

a {
    /* Retirando a decoração de link */
    text-decoration: none;
    /* Herdando cor */
    color: inherit;
}

/* Estilizando link ao passar o mouse em cima */
a:hover {
    color: var(--brand-color-light);
}

h1,
h2,
h3 {
    /* Herdando font do pai o qual estará dentro */
    font: inherit;
}

.container {
    /* Ajustando largura maxima da caixa */
    max-width: 1280px;
    /* Adicionando espaçamento interno no eixo X */
    padding-inline: 32px;
    /* Adicionando espaçamento no eixo X com margem afim de centralizar os itens dentro da caixa */
    margin-inline: auto ;
}

/* Utility-first termo utilizado para definir um estilo construido com pequenas utilitárias e reutilizáveis */

.grid {
    /* Adicionando display grid */
    display: grid;
}

.grid-flow-col {
    /* Modificando a escala grid para colunas (sendo um ao lado do outro) */
    grid-auto-flow: column;
}

