/* Utility-first termo utilizado para definir um estilo construido com pequenas utilitárias e reutilizáveis */

.grid {
    /* Adicionando display grid */
    display: grid;
}

.grid__flow__col {
    /* Modificando a escala grid para colunas (sendo um ao lado do outro) */
    grid-auto-flow: column;
}

.grid__cols__2 {
    /* Criando 2 colunas com grid cada uma com o valor de 1 fração (50% da caixa)*/
    grid-template-columns: 1fr 1fr;
}

.gap__16 {
    /* Espaçamento entre os elementos da caixa */
    gap: 16px;
}

.text__2xl {
    /* Adicionando fonte */
    font: var(--heading1);
}

.text__xl {
    /* Adicionando fonte */
    font: var(--heading2);
}

.text__lg {
    /* Adicionando fonte */
    font: var(--heading3);
}

.text__sm {
    /* Adicionando fonte */
    font: var(--paragraph);
}